<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.IShoppingCartDao">
<insert id="insert">
insert into shoppingCart
values(nextval.cartId,#{userId},#{userName},#{productImage},#{productCode},#{productName},#{orderAmount})
</insert>
<select id="selectUser" resultType="com.human.dto.shoppingCartDto">
select * from shoppingCart where userId = #{userId}
</select>
<select id="selectAll" resultType="com.human.dto.ShoppingCartDto">
select * from shoppingCart order by cartId
</select>

<delete id="delete">
delete from shoppingCart where cartId=#{cartId}
</delete>
<update id="update">
update shoppingCart set productCode=#{productCode},productName=#{productName},orderAmount=#{orderAmount} where cartId=#{cartId}
</update>

<!-- <select id="selectAllCustomerHobby" resultType="com.human.dto.CustomerHobbyDto">
select customer.id,name,height,birthday,hobby
 from customer,hobby where customer.id=hobby.id(+)
 </select>--> 
<!-- 
매퍼에 없는 클래스를 요청하면 404에러가 난다
-->

</mapper>